@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow-x:hidden;

  font-family: muli;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio {
  max-width: 964px;
}

.portfolio__toolbar {
  margin-top: 16px;  
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;  
}

.project-list {
  display: flex;
  flex-flow: wrap;  
  padding: 8px 8px 8px 8px;  
}

.project-list__item {
  margin: 8px 8px 8px 8px;
}

.project-list__item img {
  width: 300px;
  max-width: 300px;   
}

.toolbar__button {
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;  
  
  font-weight: 500;
  text-decoration: none;

  background: white;
  border: 1px solid #686868;
  box-sizing: border-box;
  color: rgba(51,51,51,.85);
  cursor: pointer;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;   
}

.toolbar__button.selected, .toolbar__button:active {
  font-weight: 700;

  background: #686868 !important;
  color: white;  
}

.toolbar__button:hover {
  font-weight: 700;
  
  background: rgb(58, 58, 58);
  border-color: rgb(58, 58, 58);
  color: white;    
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}